@media (min-width: 768px) {
    .contenar {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .contenar {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .contenar {
        width: 1170px;
    }
}
@media (max-width:570px) {
    .project .contenar .card form fieldset.full-name{
        flex-direction: column;
        align-items: self-start;
        .input-contenar{
            width: 100%;
        }
    }
    .project .contenar .card form fieldset.query-type{
        flex-direction: column;
        align-items: self-start;
        .input-contenar{
            width: 100%;
        }
    }
}